div img {
    width: 20%;
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 640px) {
    body {
      max-width: 80vw;
    }
    .displayed-img{
        width: 80vw;
        height: auto;
    }
  }